.appbody {
  background-color: #935d8c;
  background-image: url("../assets/overlay.png"),
    -moz-linear-gradient(#5f4d93 60%, #e37682 80%);
  background-image: url("../assets/overlay.png"),
    -webkit-linear-gradient(#5f4d93 60%, #e37682 80%);
  background-image: url("../assets/overlay.png"),
    -ms-linear-gradient(#5f4d93 60%, #e37682 80%);
  background-image: url("../assets/overlay.png"),
    linear-gradient(#5f4d93 60%, #e37682 80%);
}

.navbg {
  background-color: #5f4d93;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
input[type="number"] {
  -moz-appearance: textfield !important;
}
button {
  white-space: nowrap;
  overflow: hidden;
}
